@import "./nomalize.scss";
@import "./variable.scss";
@import "./mixin.scss";
@import "./common.scss";

body {
	background-color: $darkBgColor;
	overflow: hidden;
}

#pageLoaded #header {
	position: fixed;
}

.scrollable {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 2;
	width: 10%;
	text-align: center;
	animation: 1s linear infinite alternate scrollable;
	padding-top: 100px;
	padding-bottom: 100px;

	&:hover {
		.speech-bubble {
			@include speech-bubble-show;
			transform: translateY(-50%) scale(1);
		}
	}

	.portfolio-index {
		margin-top: 10px;
		color: #fff;
	}

	.speech-bubble {
		@include speech-bubble;
		position: absolute;
		top: 50%;
		right: 90%;
		transform: translateY(-50%) scale(0);
	}
}

@keyframes scrollable {
	from {
		top: 49%;
	}
	to {
		top: 51%;
	}
}

.portfolio {
	position: relative;
	display: flex;
	flex-direction: column;

	&:not(.poaster):not(.is-show-desc) {
		.portfolio-view {
			pointer-events: all;
		}

		.portfolio-cover {
			display: none;
		}

		.btn-toggle-cover::after {
			content: "설명 보기";
		}
	}

	&.poaster {
		.portfolio-view {
			width: 80%;
			height: 50%;
		}
	}

	&:not(.poaster) {
		.portfolio-cover {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(19, 19, 19, 0.5);
				background-image: linear-gradient(
					90deg,
					rgba(0, 0, 0, 1) 25%,
					rgba(19, 19, 19, 0.67) 75%,
					rgba(255, 255, 255, 0) 100%
				);
			}
		}

		.page-img {
			display: none;
			&.is-show {
				display: block;
				img {
					width: 100%;
				}
			}
		}

		.btn-toggle-cover {
			pointer-events: all;
			opacity: 1;
		}
	}

	.portfolio-content {
		overflow: hidden;
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// portfolio-view
.portfolio-view {
	max-width: 80%;
	max-height: 80%;
	overflow-y: auto;
	position: relative;
	pointer-events: none;

	.page-img {
		width: 100%;

		img {
			width: 0;
		}
	}
}

// portfolio-cover
.portfolio-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;

	.content {
		.title {
			margin-top: 30px;
			text-align: center;
			color: #131313;
			text-shadow: -1px -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent,
				1px 1px 0 transparent;
			transition: all 0.7s;
			strong {
				display: block;
				font-size: 5rem;
				margin-top: 5px;
			}
		}

		.desc {
			margin-top: 50px;
			margin-left: 50px;
			color: #fff;
			font-size: 1.2rem;
			line-height: 1.8rem;
			white-space: nowrap;
		}
	}
}

// desc toggle button
.btn-toggle-cover {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
	box-sizing: border-box;
	background: #000;
	color: #fff;
	border-radius: 5px;
	padding: 3px 8px;
	border: 1px solid #fff;
	opacity: 0;
	pointer-events: none;

	&::after {
		content: "설명 닫기";
	}
}

// navigation
.portfolio-navigation {
	position: relative;
	display: flex;

	li {
		flex: 1;
		overflow: hidden;
		@include trs-type1;

		&:not(.is-active) button:hover,
		&:not(.is-active) button:focus {
			background-color: rgba(0, 0, 0, 0.2);
		}

		&.is-active button {
			pointer-events: none;
		}

		button {
			display: inline-block;
			width: 100%;
			border-bottom: 2px solid transparent;
			color: #cccccc;
			box-sizing: border-box;
			padding: 20px 10px 22px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.beusable {
	&:not(.poaster) .portfolio-cover .title {
		color: $beusableColor;
	}
	&.poaster .portfolio-cover .title {
		text-shadow: -1px -1px 0 $beusableColor, 1px -1px 0 $beusableColor, -1px 1px 0 $beusableColor,
			1px 1px 0 $beusableColor;
	}
	.portfolio-navigation li {
		&:not(.is-active) button:hover,
		&:not(.is-active) button:focus {
			color: $beusableColor;
		}

		&.is-active {
			flex: 2;
			button {
				border-color: $beusableColor;
			}
		}
	}
}

.beusably.landing {
	&:not(.poaster) .portfolio-cover .title {
		color: $beusablyColor;
	}
	&.poaster .portfolio-cover .title {
		text-shadow: -1px -1px 0 $beusablyColor, 1px -1px 0 $beusablyColor, -1px 1px 0 $beusablyColor,
			1px 1px 0 $beusablyColor;
	}
	.portfolio-navigation li {
		&:not(.is-active) button:hover,
		&:not(.is-active) button:focus {
			color: $beusablyColor;
		}

		&.is-active {
			button {
				border-color: $beusablyColor;
			}
		}
	}
}

.beusably.tool {
	&:not(.poaster) .portfolio-cover .title {
		color: $beusablyToolColor;
	}
	&.poaster .portfolio-cover .title {
		text-shadow: -1px -1px 0 $beusablyToolColor, 1px -1px 0 $beusablyToolColor,
			-1px 1px 0 $beusablyToolColor, 1px 1px 0 $beusablyToolColor;
	}
	.portfolio-navigation li {
		&:not(.is-active) button:hover,
		&:not(.is-active) button:focus {
			color: $beusablyToolColor;
		}

		&.is-active {
			button {
				border-color: $beusablyToolColor;
			}
		}
	}
}
